<div class="card hoverable small">
  <div class="card-image">
    <cl-image public-id="{{imageData.publicId}}" title="{{imageData.name}}" width="200">
      <cl-transformation height="500" width="500" crop="thumb" gravity="face"></cl-transformation>
      <cl-transformation height="150" width="300" crop="fill"></cl-transformation>
      <cl-transformation overlay="cloudinary_logo" width="100" x="10" y="10" opacity="70" gravity="south_east"></cl-transformation>
    </cl-image>
    <span class="card-title">{{imageData.name}}</span>
  </div>
  <div class="card-content">
    <p>This photo could be of anything, but faces help prove a point.</p>
  </div>
  <div class="card-action">
    <a [routerLink]="['view', imageData.publicId]">Go Big</a>
  </div>
</div>
